/* Navegação */
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px 20px;
    display: inline-block; /* Links em linha */
    text-decoration: none; /* Remove sublinhado */
}

/* Título */
h1 {
    color: steelblue;
}

/* Imagem Global */
img {
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px #333;
}

/* Regras para Main */
main {
    max-width: 840px; /* Limita a largura */
    margin: 0 auto; /* Centraliza */
    padding: 10px; /* Adiciona espaçamento interno */
}

/* Aside */
aside {
    width: 20rem; /* Largura fixa */
    margin: 1rem auto; /* Centraliza */
    padding: 1rem; /* Espaçamento interno */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borda sutil */
    background-color: #f9f9f9; /* Fundo claro */
    color: #333; /* Cor do texto */
    text-align: center; /* Centraliza o conteúdo */
}

/* Imagem no Aside */
aside img {
    width: 200px; /* Largura fixa */
    height: auto; /* Mantém proporção */
    margin-bottom: 1rem; /* Espaço inferior */
}

/* Parágrafos */
p {
    padding: 0; /* Remove padding global */
    margin: 1rem 0; /* Adiciona margem vertical */
}

/* Rodapé */
footer {
    margin-top: 15px;
    border-top: 1px solid #000; /* Borda superior */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Espaçamento interno */
}
